@media (max-width: 600px){ /* extra small phones*/
    body{
        font-size: 14px;
        margin: 15px;
    }
}

@media(max-width: 1024px){ /* tablets */
    body {
        font-size: 16px;
        margin: 30px;
    }
}

.form {
    max-width: 500px;
    margin: 40px auto;
    padding: 30px;
    background-color: cornflowerblue;
    border-radius: 12px;
}

.form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form button {
    background-color: aqua;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.form input, .form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 7px dashed blue;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

.form:hover {
    background-color: chocolate;
}

.form input:hover {
    background-color: white;
    cursor: pointer;
}

.form button:hover {
    background-color: red;
}

:root {
    --bg-color: white;
    --text-color: black;
    --accent-color: bright blue;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);

}

a {
    color: var(--accent-color);

}

@media (prefers-color-scheme: dark){
    :root {
        --bg-color: black;
        --text-color: grey;
        --accent-color: bright blue;
    }
}
